@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
:root {
    --main-color: rgb(203, 202, 202);
    --black:#13131;
    --bg:#010103;
    --border:.2rem solid rgba(251, 248, 248, 0.793);
}

.navbar {
    background:  #101522;
    position: fixed;
	left: 5px;
	top: 20px;
  
	display: flex;
	flex-direction: column;
  
	border-right: 10px solid var(--white);
	border-radius: 40px;
  
	background-color: var(--green1);
  
	height: var(--h-width);
	width: var(--h-width);
  
	transition: all ease-in-out 0.7s;
  
	z-index: 1;
}

.Logo {
 
	width: 67px;
	 
	height: 50px;
  
	 
	}


* {
	--h-width: 90px;
	--h-width-h: 150px;
	--green1: #080808;
	--white: #273351;
	--BGgreen: #080807;
  }

    /* animation */
    @keyframes show {
        from {
          opacity: 0;
        }
        
        to {
          opacity: 1;
        }
      }
      

  .navbar ul.pages {
	display: none;
	flex-direction: column;
  
	opacity: 0;
  
	height: 100%;
	width: 100%;
  }

  .navbar:hover ul.pages {
	animation-name: show;
	animation-duration: 0.9s;
	animation-delay: 0.75s;
	animation-fill-mode: forwards;
	display: flex;
  }

  .navbar ul.pages li {
	margin: auto;
  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
	color: var(--white);
  
	width: var(--h-width);
	height: var(--h-width);
  
	transition: all ease-in-out 0.3s;
  }


  .navbar ul.pages li:hover {
	transform: translate(-10px, 10px);
	
	color: var(--black);
	
	border-radius: 20px;
	
	background-color: var(--white);
	
	cursor: pointer;
  }



.navbar:hover {
	top: 0;
	left: 0;
  
	padding-left: 20px;
  
	width: var(--h-width-h);
  
	border-radius: 0;
  
	height: 100%;
  }

  


/* ... */
a:link,
a:visited {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
	transition: all 0.18s ease;
}
a:hover,
a:active {
	opacity: 5;
}
/* ... */


/* ... */
.navigation a:link,
.navigation a:visited {
	color: #fff;
	margin-right: 2em;
}


